@media(max-width: 749px) {
  .contact_closed {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(231, 68, 98, .7);
    z-index: 100;
    border-radius: 50% 50% 50% 0;
    display: flex;
    cursor: pointer;

    .closed_animation {
      animation-name: reduce, round;
      animation-duration: .5s, .3s;
      animation-iteration-count: 1, 1;
      animation-timing-function: linear, linear;
      animation-delay: 0s, .5s;
      @keyframes reduce {
        0% {
          width: 100%;
          border-radius: 0;
        }
        100% {
          width: 10%;
          border-radius: 0;
        }
      }
      @keyframes round {
        0% {
          border-radius: 0 50% 50% 0;
        }
        100% {
          border-radius: 50% 50% 50% 0;
        }
      }
    }

    i {
      font-size: 3rem;
      padding: 2rem 2.5rem;
    }
  }

  .contact_opened {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(231, 68, 98, .9);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    animation-name: square, stretch;
    animation-duration: .3s, .5s;
    animation-iteration-count: 1, 1;
    animation-timing-function: linear, linear;
    animation-delay: 0s, .3s;
    animation-fill-mode: forwards;
    @keyframes square {
      0% {
        border-radius: 50% 50% 50% 0;
        width: 6%;
        height: 7rem;
      }
      100% {
        border-radius: 0 50% 50% 0;
        width: 6%;
        height: 7rem;
      }
    }

    @keyframes stretch {
      0% {
        width: 6%;
        border-radius: 0;
        height: 7rem;
      }
      100% {
        width: 100%;
        border-radius: 0;
        height: 100%;
      }
    }

    .phone {
      opacity: 0;
      cursor: pointer;
      animation-name: fade-in;
      animation-duration: .5s;
      animation-delay: .7s;
      animation-fill-mode: forwards;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      @keyframes fade-in {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      .phone_input {
        display: block;
        background-color: transparent;
        border: none;
        font-size: 1.7rem;
        font-weight: bolder;
        cursor: pointer;
        font-family: $font-base;
        margin-left: 35%;
      }
    }

    .mail {
      opacity: 0;
      cursor: pointer;
      animation-name: fade-in;
      animation-duration: .5s;
      animation-delay: .7s;
      animation-fill-mode: forwards;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .mail_input {
        display: block;
        cursor: pointer;
        background-color: transparent;
        border: none;
        font-size: 1.7rem;
        font-weight: bolder;
        font-family: $font-base;
        margin-left: 25%;
      }
    }

    a {
      color: black;
    }

    i {
      animation-name: fade-in;
      animation-duration: .5s;
      animation-delay: .7s;
      animation-fill-mode: forwards;
      font-size: 3rem;
      padding: 2rem 2.5rem;
      opacity: 0;
    }
  }
}

@media (min-width: 750px) {
  .contact_closed {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(231, 68, 98, .7);
    z-index: 100;
    border-radius: 50% 50% 50% 0;
    display: flex;
    cursor: pointer;

    .closed_animation {
      animation-name: reduce, round;
      animation-duration: .5s, .3s;
      animation-iteration-count: 1, 1;
      animation-timing-function: linear, linear;
      animation-delay: 0s, .5s;
      @keyframes reduce {
        0% {
          width: 100%;
          border-radius: 0;
        }
        100% {
          width: 10%;
          border-radius: 0;
        }
      }
      @keyframes round {
        0% {
          border-radius: 0 50% 50% 0;
        }
        100% {
          border-radius: 50% 50% 50% 0;
        }
      }
    }

    i {
      font-size: 3rem;
      padding: 2rem 2.5rem;
    }
  }


  .contact_opened {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(231, 68, 98, .9);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    animation-name: square, stretch;
    animation-duration: .3s, .5s;
    animation-iteration-count: 1, 1;
    animation-timing-function: linear, linear;
    animation-delay: 0s, .3s;
    animation-fill-mode: forwards;
    @keyframes stretch {
      0% {
        width: 6%;
        border-radius: 0;
        height: 7rem;
      }
      100% {
        width: 100%;
        border-radius: 0;
        height: 7rem;
      }
    }
    @keyframes square {
      0% {
        border-radius: 50% 50% 50% 0;
        width: 6%;
        height: 7rem;
      }
      100% {
        border-radius: 0 50% 50% 0;
        width: 6%;
        height: 7rem;
      }
    }

    .phone {
      display: flex;
      opacity: 0;
      cursor: pointer;
      animation-name: fade-in;
      animation-duration: .5s;
      animation-delay: .7s;
      animation-fill-mode: forwards;
      @keyframes fade-in {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      .phone_input {
        background-color: transparent;
        border: none;
        font-size: 1.7rem;
        font-weight: bolder;
        cursor: pointer;
        font-family: $font-base;
      }
    }

    .mail {
      opacity: 0;
      cursor: pointer;
      animation-name: fade-in;
      animation-duration: .5s;
      animation-delay: .7s;
      animation-fill-mode: forwards;
      display: flex;

      .mail_input {
        cursor: pointer;
        background-color: transparent;
        border: none;
        font-size: 1.7rem;
        font-weight: bolder;
        font-family: $font-base;
      }
    }

    a {
      color: black;
    }

    i {
      animation-name: fade-in;
      animation-duration: .5s;
      animation-delay: .7s;
      animation-fill-mode: forwards;
      font-size: 3rem;
      padding: 2rem 2.5rem;
      opacity: 0;
    }
  }
}