@media(max-width: 499px) {
  main {
    width: 100vw;
    height: 100vh;

    h1 {
      font-size: 5rem;
      position: absolute;
      top: 30%;
      left: 20%;
      z-index: 50;
      color: white;
      font-weight: bold;
    }

    h2 {
      font-size: 3rem;
      position: absolute;
      top: 55%;
      left: 50%;
      z-index: 50;
      color: white;
    }

    .splash1 {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 15vh;
      width: auto;
      z-index: 10;
      animation-name: up;
      animation-duration: 1s;
      animation-delay: 4.7s;
      animation-timing-function: linear;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      @keyframes up {
        0% {
          opacity: 0;
        }
        25% {
          opacity: .25;
        }
        50% {
          opacity: .5;
        }
        75% {
          opacity: .75;
        }
        100% {
          opacity: 1;
        }
      }
    }

    .splash2 {
      position: absolute;
      top: 10%;
      left: 60%;
      height: 35vh;
      width: auto;
      animation-name: up;
      animation-duration: 1s;
      animation-delay: 1.2s;
      opacity: 0;
      animation-fill-mode: forwards;
      z-index: 5;
    }


    .splash3 {
      position: absolute;
      top: 35%;
      left: 15%;
      height: 25vh;
      width: auto;
      animation-name: up;
      animation-duration: 1s;
      opacity: 0;
      animation-delay: .5s;
      animation-fill-mode: forwards;
    }

    .splash4 {
      position: absolute;
      top: 15%;
      right: -10%;
      height: 25vh;
      width: auto;
      z-index: 10;
      opacity: 0;
      animation-name: up;
      animation-fill-mode: forwards;
      animation-delay: 4s;
      animation-duration: .3s;
    }

    .splash5 {
      position: absolute;
      bottom: 15%;
      left: -20%;
      height: 50vh;
      width: auto;
      opacity: 0;
      animation-fill-mode: forwards;
      animation-name: up;
      animation-delay: 3s;
      animation-duration: 2s;
    }

    .splash6 {
      position: absolute;
      top: -10%;
      left: -10%;
      height: 35vh;
      width: auto;
      z-index: -10;
      opacity: 0;
      animation-fill-mode: forwards;
      animation-name: up;
      animation-delay: 3s;
      animation-duration: 2s;
    }

    .splash7 {
      position: absolute;
      bottom: -25%;
      right: -30%;
      height: 70vh;
      width: auto;
      animation-name: up;
      animation-duration: 2s;
      animation-delay: 2s;
      opacity: 0;
      animation-fill-mode: forwards;
    }

    .splash8 {
      position: absolute;
      bottom: 15%;
      left: 10%;
      height: 25vh;
      width: auto;
      opacity: 0;
      animation-name: up;
      animation-fill-mode: forwards;
      animation-delay: 4.5s;
      animation-duration: .2s;
      z-index: 20;
    }

    .splash9 {
      position: absolute;
      bottom: 45%;
      left: -15%;
      height: 35vh;
      width: auto;
      z-index: 10;
      animation-name: up;
      animation-duration: .2s;
      animation-delay: 3.7s;
      opacity: 0;
      animation-fill-mode: forwards;
    }

    .splash10 {
      position: absolute;
      top: -5%;
      right: -5%;
      height: 35vh;
      width: auto;
      z-index: -10;
      animation-name: up;
      animation-duration: 2s;
      animation-delay: 2s;
      opacity: 0;
      animation-fill-mode: forwards;
    }
  }
}

@media (min-width: 1000px) {
  main {
    height: 100vh;
    width: 100vw;
    h1 {
      font-size: 8rem;
      position: absolute;
      top: 35%;
      left: 15%;
      z-index: 50;
      color: white;
      font-weight: bold;
    }

    h2 {
      position: absolute;
      font-size: 6rem;
      top: 55%;
      left: 45%;
      z-index: 50;
      color: white;
      font-weight: bold;
    }

    .splash1 {
      position: absolute;
      height: 30vh;
      top: 65%;
      left: 30%;
      animation-name: upper;
      animation-duration: 1s;
      animation-delay: 4.7s;
      animation-timing-function: linear;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      z-index: 50;
      @keyframes upper {
        0% {
          opacity: 0;
        }
        25% {
          opacity: .25;
        }
        50% {
          opacity: .5;
        }
        75% {
          opacity: .75;
        }
        100% {
          opacity: 1;
        }
      }
    }

    .splash2 {
      position: absolute;
      height: 55vh;
      top: 20%;
      left: 50%;
      animation-name: upper;
      animation-duration: 1s;
      animation-delay: 1.2s;
      opacity: 0;
      animation-fill-mode: forwards;
      z-index: 5;
    }

    .splash3 {
      position: absolute;
      top: 50%;
      left: 30%;
      height: 50vh;
      animation-name: upper;
      animation-duration: 1s;
      opacity: 0;
      animation-delay: .5s;
      animation-fill-mode: forwards;
    }

    .splash4 {
      position: absolute;
      height: 55vh;
      width: auto;
      top: -10%;
      left: 0;
      opacity: 0;
      animation-name: upper;
      animation-fill-mode: forwards;
      animation-delay: 4s;
      animation-duration: .3s;
      z-index: 30;
    }

    .splash5 {
      position: absolute;
      height: 85vh;
      width: auto;
      bottom: 30%;
      left: 20%;
      opacity: 0;
      animation-fill-mode: forwards;
      animation-name: upper;
      animation-delay: 3s;
      animation-duration: 2s;
    }

    .splash6 {
      position: absolute;
      height: 65vh;
      width: auto;
      top: -20%;
      left: -10%;
      opacity: 0;
      animation-fill-mode: forwards;
      animation-name: upper;
      animation-delay: 3s;
      animation-duration: 2s;
    }

    .splash7 {
      position: absolute;
      height: 100vh;
      width: auto;
      bottom: -15%;
      right: -20%;
      animation-name: upper;
      animation-duration: 2s;
      animation-delay: 2s;
      opacity: 0;
      animation-fill-mode: forwards;
    }

    .splash8 {
      position: absolute;
      height: 55vh;
      width: auto;
      bottom: 40%;
      right: -5%;
      opacity: 0;
      animation-name: upper;
      animation-fill-mode: forwards;
      animation-delay: 4.5s;
      animation-duration: .2s;
      z-index: 30;
    }

    .splash9 {
      position: absolute;
      height: 45vh;
      bottom: 10%;
      right: 10%;
      animation-name: upper;
      animation-duration: .2s;
      animation-delay: 3.7s;
      opacity: 0;
      animation-fill-mode: forwards;
      z-index: 30;
    }

    .splash10 {
      position: absolute;
      height: 75vh;
      width: auto;
      bottom: -15%;
      left: -15%;
      z-index: -5;
      animation-name: upper;
      animation-duration: 2s;
      animation-delay: 2s;
      opacity: 0;
      animation-fill-mode: forwards;
    }
  }
}