main{
  width: 100vw;
  height: 100vh;
  h1{
    font-size: 8rem;
    position: absolute;
    top: 35%;
    left: 20%;
    z-index: 50;
    color: white;
  }

  h2{
    font-size: 6rem;
    position: absolute;
    top: 65%;
    left: 50%;
    z-index: 50;
    color: white;
  }
  .splash1{
    position: absolute;
    top: 65%;
    left: 35%;
    height: 35vh;
    width: auto;
    z-index: 10;
    animation-name: up;
    animation-duration: 1s;
    animation-delay: 4.2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    @keyframes up {
      0% {
        opacity: 0;
      }
      25% {
        opacity: .25;
      }
      50% {
        opacity: .5;
      }
      75% {
        opacity: .75;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .splash2{
    position: absolute;
    top: 20%;
    left: 50%;
    height: 55vh;
    width: auto;
    animation-name: up;
    animation-duration: 1s;
    animation-delay: .7s;
    opacity: 0;
    animation-fill-mode: forwards;
    z-index: 5;
  }


  .splash3{
    position: absolute;
    top: 50%;
    left: 30%;
    height: 50vh;
    width: auto;
    animation-name: up;
    animation-duration: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .splash4{
    position: absolute;
    top: 0;
    left: 5%;
    height: 55vh;
    width: auto;
    z-index: 10;
    opacity: 0;
    animation-name: up;
    animation-fill-mode: forwards;
    animation-delay: 3.5s;
    animation-duration: .3s;
  }

  .splash5{
    position: absolute;
    bottom: 40%;
    left: 20%;
    height: 85vh;
    width: auto;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: up;
    animation-delay: 2.5s;
    animation-duration: 2s;
  }

  .splash6{
    position: absolute;
    top: -10%;
    left: -10%;
    height: 65vh;
    width: auto;
    z-index: -10;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: up;
    animation-delay: 2.5s;
    animation-duration: 2s;
  }

  .splash7{
    position: absolute;
    bottom: -15%;
    right: -20%;
    height: 100vh;
    width: auto;
    animation-name: up;
    animation-duration: 2s;
    animation-delay: 1.5s;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .splash8{
    position: absolute;
    bottom: 40%;
    right: -5%;
    height: 55vh;
    width: auto;
    opacity: 0;
    animation-name: up;
    animation-fill-mode: forwards;
    animation-delay: 4s;
    animation-duration: .2s;
    z-index: 20;
  }

  .splash9{
    position: absolute;
    bottom: 20%;
    right: 20%;
    height: 35vh;
    width: auto;
    z-index: 10;
    animation-name: up;
    animation-duration: .2s;
    animation-delay: 3.2s;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .splash10{
    position: absolute;
    bottom: -5%;
    left: -5%;
    height: 75vh;
    width: auto;
    z-index: 5;
    animation-name: up;
    animation-duration: 2s;
    animation-delay: 1.5s;
    opacity: 0;
    animation-fill-mode: forwards;
  }
}