@import "Style/reset";
@import "Style/fonts";
@import "Style/mixins";

html {
  font-size: 10px;
  font-family: 'cabin_sketchbold';
  box-sizing: border-box;
}

body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

@import "Style/main";
@import "Style/contact";
@import "Style/portfolio";
@import "Style/slider";